streamlit>=1.40.0
numpy>=1.24.0
moviepy>=2.0.0,<3.0.0
playwright>=1.49.0
greenlet>=3.2.5
edge-tts>=6.1.12
imageio-ffmpeg>=0.5.1
pydub==0.25.1
pillow>=10.4.0
setuptools
audioop-lts
pypdf
python-docx
requests
