streamlit>=1.31.0
pandas
moviepy==1.0.3
opencv-python-headless
numpy
imageio-ffmpeg
edge-tts
pillow
gTTS
mediapipe
obsws-python
google-auth-oauthlib
google-api-python-client
scipy
pretty_midi
matplotlib
